<div class="dropzone">
    <div class="overlay-layer">
        <input type="file" #fileDropRef id="fileDropRef" multiple (change)="handleDrop($event)" id="uploader"><p id="browse">Browse</p>
   </div>
</div>

<div id="photos">
    <div *ngFor="let photo of photosBefore" style="float: left; margin: 10px; padding: 10px; background-color: blue;">
        <div *ngIf="photo.percent != 100">
            <!-- <div [style.width]="photo.percent+'px'" [style.height]="10+'px'" style="background-color: green;">  </div> -->
        </div>
        <!-- <img src={{photo.location}}  width="100" height="100" (click)="photoView(photo)"> -->
        <div *ngIf="photo.percent == 100">
            <img src="{{photo.location}}"  width="100" height="100" (click)="photoView(photo)">
        </div>
    </div>
</div>

<div id="photos">
    <div *ngFor="let photo of photos" style="float: left; margin: 10px; padding: 10px; background-color: blue;">
        <div *ngIf="photo.percent != 100">
            <div style="height: 100px; width: 100px; float: left; margin: 10px; padding: 10px; background-color: blue;"></div>
            <div [style.width]="photo.percent+'px'" [style.height]="10+'px'" style="background-color: green;"> </div>
        </div>
        <div *ngIf="photo.percent == 100">
            <img src="{{photo.location}}"  width="100" height="100" (click)="photoView(photo)">
        </div>
    </div>
</div>


<div id="videos">
    <div *ngFor="let vid of videosBefore" (click)="saveSelected(vid)">
        <div *ngIf="vid.percent != 100">
            <div [style.width]="vid.percent+'px'" [style.height]="10+'px'" style="background-color: green;"> </div>
        </div>
        <!-- <img src={{photo.location}}  width="100" height="100" (click)="photoView(photo)"> -->
        <div *ngIf="vid.percent == 100">
            <p style="color: white;">{{vid.title}}</p>
        </div>
        </div>
    </div>

<div id="videos">
    <div *ngFor="let vid of videos" (click)="saveSelected(vid)">
        <div *ngIf="vid.percent != 100">
            <div [style.width]="vid.percent+'px'" [style.height]="10+'px'" style="background-color: green;"> </div>
        </div>
        <!-- <img src={{photo.location}}  width="100" height="100" (click)="photoView(photo)"> -->
        <div *ngIf="vid.percent == 100">
            <p style="color: white;">{{vid.title}}</p>
        </div>
        </div>
    </div>

