#txt {
    color: orange;
    position: absolute;
    width: 150px;
    height: 300px;
    z-index: 1;
}

#swap-on-hover__front-image {
    border-radius: 5px;
    position: absolute;
    width: 200px;
    height: 300px;
    opacity: 1;
    z-index: 1;   
}

#swap-on-hover__back-image {
    border-radius: 5px;
    box-shadow: 0px 0px 0px grey;
    width: 100%;
    height: 100%;
}

#card:hover .shadow { 
    width: 500px;
    opacity: 0.2;
    transition: filter 0.5s box-shadow 0.5s;
}
#card:not(hover) #swap-on-hover__back-image { 
    width: 130px;
    height: 200px;
    overflow: hidden;
    color: #FFFFFF;
    transition: filter 0.5s;
}
#card:hover #txt { 
    background-color: transparent;
    transition: background-color 0.5s;
}
#card:hover .overview {
    z-index: 1;
}

#card:hover #title {
    color: orange;
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 9999;
}

#container {
  margin-top: 90px;
  width: 100%;
  display: flex;  
  flex-direction: row; /* let the content flow to the next row */
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: -2;
  /* This aligns items to the end line on main-axis */
}


#card:not(hover) #txt {
    position: absolute;
    color: orange;
    transition: opacity 0.5s;
    z-index: 1;
}

#card:not(hover) {
    width: 130px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-right: 30px;
    transition: width 0.5s, height 0.5s;
}
.header {
    padding-top: 500px;
}

.resolution{
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    opacity: 0;
}

#card:hover .resolution {
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    transition: opacity 0.5s;
    opacity: 1;
}

.plot {
    height: 70%;
    text-overflow: ellipsis;
    border-radius: 5px;
}

#card:hover .plot {
    background-color: transparent;
    transition: background-color 0.5s;
}
#card:hover .overview {
    opacity: 1;
    background-color: transparent;
    transition: background-color 0.5s;
}
.ellipsis {
    width: 100%;
    height: 100%;
    white-space: wrap;
    margin: auto;
  	overflow: hidden;
    text-overflow: ellipsis;
}
#title {
    float: left;
    margin-left: 20px;;
    opacity: 0;
}
.background {
    z-index: -1;
	position: absolute;
    margin: 0 auto;
}


.hex-brick{
    background-image: radial-gradient(circle at 50% 50%, #ff822e, #dd480d);
    width: 10px;
	height: 5px;
	position: fixed;
	top: 5px;
    animation-name: fade;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	text-align: center;
    vertical-align: middle;
	-webkit-animation-iteration-count: infinite;
	z-index: 1;
}

			
			.h2{
				transform: rotate(60deg);
				-webkit-transform: rotate(60deg);
			}
			
			.h3{
				transform: rotate(-60deg);
				-webkit-transform: rotate(-60deg);
			}
			
			.gel{
				height: 30px;
				width: 30px;	
				transition: all .3s;
				-webkit-transition: all .3s;
				position: absolute;
		        top: 50%;
		        left: 50%;
			}
			
			.center-gel{
				margin-left: -5px;
				margin-top: -5px;
				
				animation-name: pulse;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				-webkit-animation-name: pulse;
				-webkit-animation-duration: 2s;
				-webkit-animation-iteration-count: infinite;
			}
			
			.c1{
				margin-left: -47px;
				margin-top: -15px;
			}
			
			.c2{
				margin-left: -31px;
				margin-top: -43px;
			}
			
			.c3{
				margin-left: 1px;
				margin-top: -43px;
			}
			
			.c4{
				margin-left: 17px;
				margin-top: -15px;
			}
			.c5{
				margin-left: -31px;
				margin-top: 13px;
			}
			
			.c6{
				margin-left: 1px;
				margin-top: 13px;
			}
			
			.c7{
				margin-left: -63px;
				margin-top: -43px;
			}
			
			.c8{
				margin-left: 33px;
				margin-top: -43px;
			}
			
			.c9{
				margin-left: -15px;
				margin-top: 41px;
			}
			
			.c10{
				margin-left: -63px;
				margin-top: 13px;
			}
			
			.c11{
				margin-left: 33px;
				margin-top: 13px;
			}
			
			.c12{
				margin-left: -15px;
				margin-top: -71px;
			}
			
			.c13{
				margin-left: -47px;
				margin-top: -71px;
			}
			
			.c14{
				margin-left: 17px;
				margin-top: -71px;
			}
			
			.c15{
				margin-left: -47px;
				margin-top: 41px;
			}
			
			.c16{
				margin-left: 17px;
				margin-top: 41px;
			}
			
			.c17{
				margin-left: -79px;
				margin-top: -15px;
			}
			
			.c18{
				margin-left: 49px;
				margin-top: -15px;
			}
			
			.c19{
				margin-left: -63px;
				margin-top: -99px;
			}
			
			.c20{
				margin-left: 33px;
				margin-top: -99px;
			}
			
			.c21{
				margin-left: 1px;
				margin-top: -99px;
			}
			
			.c22{
				margin-left: -31px;
				margin-top: -99px;
			}
			
			.c23{
				margin-left: -63px;
				margin-top: 69px;
			}
			
			.c24{
				margin-left: 33px;
				margin-top: 69px;
			}
			
			.c25{
				margin-left: 1px;
				margin-top: 69px;
			}
			
			.c26{
				margin-left: -31px;
				margin-top: 69px;
			}
			
			.c27{
				margin-left: -79px;
				margin-top: -15px;
			}
			
			.c28{
				margin-left: -95px;
				margin-top: -43px;
			}
			
			.c29{
				margin-left: -95px;
				margin-top: 13px;
			}
			
			.c30{
				margin-left: 49px;
				margin-top: 41px;
			}
			
			.c31{
				margin-left: -79px;
				margin-top: -71px;
			}
			
			.c32{
				margin-left: -111px;
				margin-top: -15px;
			}
			
			.c33{
				margin-left: 65px;
				margin-top: -43px;
			}
			
			.c34{
				margin-left: 65px;
				margin-top: 13px;
			}
			
			.c35{
				margin-left: -79px;
				margin-top: 41px;
			}
			
			.c36{
				margin-left: 49px;
				margin-top: -71px;
			}
			
			.c37{
				margin-left: 81px;
				margin-top: -15px;
			}
			
			.r1{
				animation-name: pulse;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-delay: .2s;
				-webkit-animation-name: pulse;
				-webkit-animation-duration: 2s;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-delay: .2s;
			}
			
			.r2{
				animation-name: pulse;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-delay: .4s;
				-webkit-animation-name: pulse;
				-webkit-animation-duration: 2s;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-delay: .4s;
			}
			
			.r3{
				animation-name: pulse;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-delay: .6s;
				-webkit-animation-name: pulse;
				-webkit-animation-duration: 2s;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-delay: .6s;
			}
			
			.r1 > .hex-brick{
				animation-name: fade;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-delay: .2s;
				-webkit-animation-name: fade;
				-webkit-animation-duration: 2s;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-delay: .2s;
			}
			
			.r2 > .hex-brick{
				animation-name: fade;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-delay: .4s;
				-webkit-animation-name: fade;
				-webkit-animation-duration: 2s;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-delay: .4s;
			}
			
			.r3 > .hex-brick{
				animation-name: fade;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-delay: .6s;
				-webkit-animation-name: fade;
				-webkit-animation-duration: 2s;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-delay: .6s;
			}
			
			
			@keyframes pulse{
				0%{
					-webkit-transform: scale(1);
					transform: scale(1);
				}
				
				50%{
					-webkit-transform: scale(0.01);
					transform: scale(0.01);
				}
				
				100%{
					-webkit-transform: scale(1);
					transform: scale(1);
				}
			}
			
			@keyframes fade{
				0%{
					background-image: radial-gradient(circle at 50% 50%, #ff822e, #dd480d);
				}
				
				50%{
					background: #90BBBF;
				}
				
				100%{
					background: #ABF8FF;
				}
			}
			
			@-webkit-keyframes pulse{
				0%{
					-webkit-transform: scale(1);
					transform: scale(1);
				}
				
				50%{
					-webkit-transform: scale(0.01);
					transform: scale(0.01);
				}
				
				100%{
					-webkit-transform: scale(1);
					transform: scale(1);
				}
			}
			
			@-webkit-keyframes fade{
				0%{
					background: #ABF8FF;
				}
				
				50%{
					background: #389CA6;
				}
				
				100%{
					background: #ABF8FF;
				}
			}