#outlet {
    margin-top: 0px;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%
}
.header {
    top: 0;
    position: fixed;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    background-image: radial-gradient(circle at 50% 50%, #ff822e, #dd480d);
    transition: all .3s ease;   
    z-index: 0;
}
.button {
    display: inline-block;
    float: left;
	  background-color: color;
	  width: 20%;
    height: 100%;
    text-decoration: none;
    top: 0;
	  line-height: 50px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    cursor: pointer;
	  border-radius: 5px;
	  box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
}
#powerBtnSync {
  display: inline-block;
  float: left;
  background-color: rgba(255, 38, 0, 0.507);
  width: 20%;
  height: 50px;
  top: 0;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
}
#powerBtnDownload {
  display: inline-block;
  float: left;
  background-color: rgba(255, 38, 0, 0.507);
  width: 20%;
  height: 50px;
  top: 0;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
}
#powerBtn {
  display: inline-block;
  float: left;
  background-color: rgba(255, 38, 0, 0.507);
  width: 20%;
  height: 50px;
  top: 0;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
}
.logoCirOne {
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  height: 50px;
  width: 50px;
  border-radius: 100px;
  float: right;
  margin-right: 1%;
}
/* 
@import url(//fonts.googleapis.com/css?family=Lato:300:400); */

.waves {
  position:relative;
  width: 100%;
  height:50px;
  margin-bottom:-7px; /*Fix for safari gap*/
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(#ffad00 50%, #d58500);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 60px;
  height: 40px;
  margin: -4px -2px; 
  border-radius: 500px;
  background: linear-gradient(#ffbd00, #ca7900);
  box-shadow: 0 1px 5px hsla(41, 100%, 40%, 0.3),
         -3px 25px 25px hsla(41, 100%, 35%, 0.5),
         -6px 50px 50px hsla(41, 100%, 30%, 0.3),
         -9px 65px 65px hsla(41, 100%, 20%, 0.3);
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 35px;
  background: #ffad00;
  border-radius: 500px;
  border: solid 5px transparent;
  background-clip: padding-box;
  cursor: pointer;
}

.toggle__wrapper {
  width: 50px;
  height: 25px;
  margin: -4px -2px; 
  border-radius: 500px;
  background: linear-gradient(hsla(39, 100%, 44%, 1), hsla(39, 100%, 42%, 0.1));
  box-shadow: 0px 5px 1px 0 hsla(41, 100%, 57%, 0.7);
}

.toggle__bg {
  width: 50px;
  height: 30px;
  background: hsla(199, 43%, 59%, 1);
  background: linear-gradient(to right, hsla(199, 43%, 59%, 1) 50%, hsla(18, 77%, 50%, 1) 50% 100%);
  background-size: 200% 100%;
  background-position: 75%;
  border-radius: 500px;
  border: solid 5px transparent;
  background-clip: padding-box;
  box-shadow: inset 0px 30px 50px 15px hsla(0, 0%, 0%, 0.30);
  transition: all 0.85s ease-in-out;
}

.toggle__sphere {
  position: relative;
  height: 20px;
  width: 20px;
  background: hsla(18, 100%, 62%, 1);
  background: 
    linear-gradient(to right, hsla(199, 43%, 59%, 1) 50%, hsla(18, 77%, 50%, 1) 50% 100%);
  border-radius: 50%;
  transform-origin: top left;
  transform: translateY(1px);
  box-shadow:  
    2px 0px 5px 1px hsla(18, 77%, 15%, 0.05), 
    0px 10px 10px 1px hsla(18, 77%, 15%, 0.2), 
    -3px 0px 3px 1px hsla(0, 0%, 0%, 0.75);
  transition: all 0.85s ease-in-out;
}

.toggle__sphere:before, 
.toggle__sphere:after {
  content: '';
  position: absolute;
  left: calc(50% - 20px);
  height: 1px;
  width: 40px;
  background: hsla(0, 0%, 0%, 0.25);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.25);
}

.toggle__sphere:before {
  top: -2px;
}

.toggle__sphere:after {
  bottom: -1px;
}

.toggle__sphere-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 50%;
  box-shadow: inset 0px -30px 30px 15px hsla(0, 0%, 0%, 0.1)
}

.toggle__sphere-bg {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  border-radius: 50%;
  transition: transform 0.85s ease-in-out;
}

.toggle__sphere-bg:before, 
.toggle__sphere-bg:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.toggle__sphere-bg:before {
  background-color: hsla(18, 77%, 50%, 1);
  border-radius: 50%;
}

.toggle__sphere-bg:after {
  background-color: hsla(199, 43%, 59%, 1);
  transform: rotateY(180deg);
  border-radius: 50%;
}

input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

input:checked + .toggle__bg {
  background-position: 25%;
}

input:checked + .toggle__bg .toggle__sphere {
  transform: translateX(20px) translateY(1px);
  box-shadow:  
    -2px 0px 5px 1px hsla(18, 77%, 15%, 0.05), 
    0px 10px 10px 1px hsla(18, 77%, 15%, 0.2), 
    3px 0px 3px 0px hsla(0, 0%, 0%, 0.75);
}

input:checked + .toggle__bg .toggle__sphere-bg {
  transform: rotateY(180deg);
}

#wrapper {
  display: inline-block;
  width: 200px;
  z-index: 1;
}

.container {
  display: inline-block;
  margin: 10px;
  z-index: 1;
}

.container .progress {
  margin: 0 auto;
  width: 400px;
}

.progress {
  padding: 4px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

#progressBar {
  color: white;
  height: 16px;
  border-radius: 4px;
  margin-top: 10px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  background-color: #f2b01e;
}